<!DOCTYPE html>
<html>
<header>
  <title> Battle: Attack</title>
</header>
  <body>
    <h1>You hit <%=@game.player_2.name%>!</h1>
    <div>
      It is <%= @game.player_turn.name %>'s turn
    </div>
    <div>
      <%=@game.player_2.name%> has <%=@game.player_2.hp%> hit points
    </div>
  </body>
</html>
