<h1> BATTLE ROYALE! </h1>
<h3> Let's get ready to rumble...</h3>

<form action="/names" method="post">
  <label for="player_1"> Combatant 1 </label>
    <input type="text" name="player_1" />
  <label for="player_2"> Combatant 2 </label>
    <input type="text" name="player_2" />
  <input type="submit" value="Confirm" />
</form>
